<div>
<h1>Edit details about your friend</h1>
    <div class="details-image friendcard-details">
        <img src="/{{friend.profile_pic}}" alt="">
    </div>
<form action="/friends/editfriend/{{friend.id}}" method="POST">

<legend>Name:</legend>
    <input type="text" name="firstname" value="{{friend.firstname}}"><br>
<legend>Last name:</legend>
    <input type="text" name="lastname" value="{{friend.lastname}}"><br>
<legend>Address:</legend>
    <input type="text" name="address" value="{{friend.address}}">
<legend>Birthday:</legend>
    <input type="date" name="birthday" value="{{friend.birthday}}">
<legend>Available to play on:</legend>
    {{#each friend.availabledays}}
        {{#if this }}
            <input type="checkbox" checked name="{{@key}}" value="{{@key}}"/>{{@key}} <br>
        {{else}}
            <input type="checkbox" name="{{@key}}" value="{{@key}}"/>{{@key}} <br>
        {{/if}}
    {{/each}}
    {{!-- <input class="available-days-input" type="text" name="availabledays" value=" {{friend.availabledays}}"> --}}
<legend>Most favourite food:</legend>
    <input type="text" name="foodlikes" value="{{friend.foodlikes}}">
<legend>Least favourite food:</legend>
    <input type="text" name="fooddislikes" value="{{friend.fooddislikes}}">
<legend>Allergies/Illnesses:</legend>
    <input type="text" name="allergies" value="{{friend.allergies}}">
<legend>Like to play:</legend>
    <input type="text" name="activitylikes" value="{{friend.activitylikes}}">
<legend>Does not like to play:</legend>
    <input type="text" name="activitydislikes" value="{{friend.activitydislikes}}">

    <input class="button b-blue .rot-135" type="submit" class="button" >
</form>

</div>