<div class="friend-page">
    <div class="details-image friendcard-details">
        <img src="https://res.cloudinary.com/playdateapp/{{friend.profile_pic}}" alt="">
    </div>
    <div class="details">
    <div class="friend-details">
        <h2>Friend details:</h2>
        <p><b>Name:</b> {{friend.firstname}} {{friend.lastname}}</p>
        <p><b>Address:</b> {{friend.address}}</p>
        <p><b>Birthday:</b> {{friend.birthday}}</p>
        <p><b>Available to play on:</b></p>
    <ul>
        {{#each friend.availabledays}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
        <p><b>Most favourite food:</b> {{friend.foodlikes}}</p>
        <p><b>Least favourite food:</b> {{friend.fooddislikes}}</p>
        <p><b>Allergies/Illnesses:</b> {{friend.allergies}}</p>
        <p><b>Like to play:</b> {{friend.activitylikes}}</p>
        <p><b>Does not like to play:</b> {{friend.activitydislikes}}</p>
         <div class="link-button">
         <a href="/friends/editfriend/{{friend.id}}" class="button b-blue .rot-135">Edit</a>
         <a href="/friends/deletefriend/{{friend.id}}" class="button b-blue .rot-135">Delete</a>
         </div>
    </div>

        {{#each friend.caretaker}}
            <div class="caretaker-details"> 
          <h2>Caretaker details:</h2>
          <p><b>Name:</b> {{this.firstname}} {{this.lastname}}</p>
          <p><b>Takes care of {{friend.firstname}} on:</b></p>
          <ul>
            {{#each this.availabledays}}
                <li>{{this}}</li>
            {{/each}}
          </ul>
          <p><b>Relation:</b> {{this.relation}}</p>
          <p><b>Phone:</b> {{this.phone}}</p>
          <p><b>Email:</b> {{this.email}}</p>
          </div>
        {{/each}}
    
</div>
</div>


