<img src="/{{friend.profile_pic}}" alt="">
<p>{{friend.firstname}} {{friend.lastname}}</p>
<p>Birthday: {{friend.birthday}}</p>
<p>Is available to play on: {{friend.availabledays}}</p>
<p>Likes to eat: {{friend.foodlikes}}</p>
<p>Does not like to eat: {{friend.fooddislikes}}</p>
<p>Important Health Details: {{friend.allergies}}</p>
<p>Enjoys: {{friend.activitylikes}}</p>
<p>Does not enjoy: {{friend.activitydislikes}}</p>

<p>CARETAKER</p>
<p>Name: {{friend.parent.firstname}} {{friend.parent.lastname}}</p>
<p>Takes care of {{friend.firstname}} on: {{friend.parent.availabledays}}</p>
<p>Relation: {{friend.parent.relation}}</p>
<p>Address: {{friend.parent.address}}</p>
<p>Phone Number: {{friend.parent.phone}}</p>
<p>Email Address: {{friend.parent.email}}</p>
