
    <div class="friend-page">
    <div class="friendcard">
        <img src="/{{friend.profile_pic}}" alt="">
    </div>
    <div class="details">
    <div class="friend-details">
        <h2>Friend details:</h2>
        <p><b>Name:</b> {{friend.firstname}} {{friend.lastname}}</p>
        <p><b>Birthday:</b> {{friend.birthday}}</p>
        <p><b>Available to play on:</b> 
    <ul>
        {{#each friend.availabledays}}
        <li>{{this}}</li>
        {{/each}}
    </ul>
        <p><b>Most favourite food:</b> {{friend.foodlikes}}</p>
        <p><b>Least favourite food:</b> {{friend.fooddislikes}}</p>
        <p><b>Allergies/Illnesses:</b> {{friend.allergies}}</p>
        <p><b>Like to play:</b> {{friend.activitylikes}}</p>
        <p><b>Does not like to play:</b> {{friend.activitydislikes}}</p>
    </div>
    <div class="caretaker-details">
        <h2>Caretaker details:</h2>
        <p><b>Name:</b> {{friend.parent.firstname}} {{friend.parent.lastname}}</p>
        <p><b>Takes care of {{friend.firstname}} on:</b> {{friend.parent.availabledays}}</p>
        <p><b>Relation:</b> {{friend.parent.relation}}</p>
        <p><b>Address:</b> {{friend.parent.address}}</p>
        <p><b>Phone Number:</b> {{friend.parent.phone}}</p>
        <p><b>Email Address:</b> {{friend.parent.email}}</p>
    </div>
</div>
</div>